.user-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        display: inline-block;
        object-fit: cover;
    }
}

.user-name {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 8px;
    margin-right: 3px;
}

.user-icon {
    font-size: 1.6rem;
    color: var(--text-color);
}
