.go-top {
    font-size: 2rem;
    color: var(--go-top-color);
    text-align: center;
    width: 48px;
    height: 48px;
    background-color: var(--go-top-background);
    padding: 5px;
    border-radius: 50%;
}
