.header {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    border-bottom: 1px solid var(--header-border);
    background-color: var(--header-background);
}

.inner {
    position: relative;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper {
    display: flex;
    align-items: center;

    .logo {
        width: 80px;
    }
}

.qoute {
    font-family: 'Ceviche One', cursive;
    color: var(--text-color);
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-left: 3px;
}

.actions {
    display: flex;
    align-items: center;
    height: 100%;
}

.mobile-actions {
    display: none;
}

.toggle-theme-btn {
    line-height: 0;
}

.separate {
    width: 1px;
    height: 20px;
    background-color: #ddd;
    margin: 0 10px;
}

.menu-sidebar {
    display: none;
    width: 75vw;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--app-background);
    padding: 0 24px 24px 24px;
    transform: translateX(100%);
    transition: all 0.4s;

    opacity: 0;

    &.show-sidebar {
        opacity: 1;
        transform: translateX(0);
    }
}

.menu-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
}

.menu-sidebar-close {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.overlay {
    visibility: hidden;
    width: 100vw;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: all;
    transition: all 0.3s;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

// Mobile - Tablet
@media (min-width: 300px) and (max-width: 991px) {
    .logo-wrapper {
        h2 {
            display: none;
        }

        &.search-active {
            display: none;
        }
    }

    .actions {
        display: none;
    }

    .search-wrapper {
        display: none;

        &.search-active {
            width: 100%;
            display: block;
        }
    }

    .mobile-actions {
        height: 100%;
        display: flex;
        align-items: center;

        .search-wrapper {
            color: var(--text-color);
            width: 100%;
            line-height: 0;
            font-size: 2.5rem;
            display: block;
            padding: 14px 10px 14px 10px;
        }
    }

    .menu-mobile-btn {
        line-height: 0;
        font-size: 2.5rem;
        padding: 14px 5px;
        color: var(--text-color);
    }

    .cancel-btn {
        padding: 0 7px;
        color: var(--text-color);
    }

    .menu-sidebar {
        display: block;
    }

    .overlay.show-overlay {
        visibility: visible;
        opacity: 1;
    }
}
