// Types
.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid transparent;
    transition: 0.2s ease;

    + .button-wrapper {
        margin-left: 7px;
    }
}

.icon {
    font-size: 1.7rem;
    line-height: 0;
}

.icon + .title,
.title + .icon {
    margin-left: 10px;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-radius: 6px;

    &:hover {
        color: var(--white);
        opacity: 0.8;
    }
}

.outline {
    color: var(--primary);
    border-radius: 6px;
    border-color: 1px solid var(--primary);

    &:hover {
        color: var(--white);
        background-color: var(--primary);
    }
}

.outline-basic {
    color: var(--text-color);
    border-radius: 6px;
    border-color: 1px solid var(--text-color);

    &:hover {
        color: var(--text-color);
        border-color: 1px solid var(--text-color);
        opacity: 0.8;
    }
}

.danger {
    color: #fff;
    background-color: #dc3545;
    border-radius: 6px;
}

.normal {
    color: var(--black);
    background-color: transparent;

    &:hover {
        color: var(--black);
        text-decoration: underline;
    }
}

.rounded {
    min-width: 100px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    border: 1px solid var(--app-background);
}

.no-outline {
    color: var(--text-color);
}

// sizes
.mini {
    font-size: 1.3rem;
    min-width: 28px;
    padding: 4px 10px;
}

.small {
    min-width: 80px;
    padding: 6px 14px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
