// reset css
@import 'normalize.css';

// font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');

:root {
    --primary: #f37515;
    --black: #000;
    --white: #fff;
    --dark: #1d2024;
    --desc-color: #0000008a;

    // default layout
    --header-height: 70px;
    --font-size-sidebar: 1.8rem;
    --border-radius-banner: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

// theme
body[data-theme='dark'] {
    --text-color: #fff;
    --app-background: #1d2024;
    --header-border: transparent;
    --header-background: #1e2125;
    --footer-background: #1e2125;
    --input-background: #282c31;
    --input-color: #fff;
    --404-page-text: #fff;
    --text-nav: #54585c;
    --nav-background: #282c31;
    --personal-list-background: #22262b;
    --border-color-top-sidebar: #444;
    --border-color-gallery-item: #282c31;
    --border-color-genre-item: #282c31;
    --border-color-sortby-option: #282c31;

    --go-top-background: #fff;
    --go-top-color: var(--primary);
    --thumb-gallery-background: #282c31;
    --tab-background: #282c31;
}

body[data-theme='light'] {
    --text-color: #000;
    --app-background: #fff;
    --header-border: #ddd;
    --header-background: #fff;
    --footer-background: #fff;
    --input-background: #e9ecef;
    --nav-background: #e9ecef;
    --personal-list-background: #e4e4e438;
    --input-color: #7c7c7c;
    --404-page-text: #57626d;
    --text-nav: #54585c;
    --border-color-top-sidebar: #ddd;
    --border-color-gallery-item: #ddd;
    --border-color-genre-item: #ddd;
    --border-color-sortby-option: #ddd;
    --go-top-background: var(--primary);
    --go-top-color: #fff;

    --thumb-gallery-background: #e9ecef;
    --tab-background: #e9ecef;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--app-background);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

// Custom All Scrollbar Vertical into Body
body *::-webkit-scrollbar {
    border-radius: 0;
    width: 5px;
}

body *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.25);
}

body *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// Scroll Vertical
// Custom All Scrollbar Vertical into Body
body *::-webkit-scrollbar:horizontal {
    border-radius: 0;
    height: 7px;
}

body *::-webkit-scrollbar-thumb:horizontal {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.25);
}

body *::-webkit-scrollbar-track:horizontal {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// reset
input,
button,
[tabindex] {
    outline: none;
    border: none;
}

button {
    background-color: transparent;
}

a {
    text-decoration: none;
    color: var(--desc-color);

    &:hover {
        color: var(--desc-color);
    }
}

ul {
    list-style: none;
    padding-left: 0;
}

// custom Tippy
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2.2rem;
        letter-spacing: 0.3px;
        background-color: #fff;
        box-shadow: rgb(0 0 0 / 20%) 0 2px 14px;
        // transition: ease-in 0.3s;
    }

    .tippy-arrow {
        color: #fff;
    }

    .tippy-content {
        width: max-content;
        color: #000;
        padding: 8px 12px;
        box-shadow: (0 0 0 / 20%) 0 4px 22px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }

    // Custom popper search
    #header #search div[data-tippy-root] {
        border-radius: 7px;
        box-shadow: 0 0 6px rgb(0 0 0 / 20%);
    }
}

// Animations
.spin {
    animation: spin 0.27s linear infinite;
}
.fade-in {
    animation: fadeIn 0.25s ease-in;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes showDropdown {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// Lazyload
.lazy-load-image-background {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%; // flag
    overflow: hidden;
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
    filter: blur(0);
    transition: filter 0.3s;
}

.lazy-load-image-background.blur {
    -webkit-filter: blur(15px);
    filter: blur(15px);
}

.lazy-load-image-background.blur > img {
    opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
    opacity: 1;
    transition: all ease-in-out 0.2s;
}

// Break point col-5
@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
    }
    .col-md-2-5 {
        width: 40%;
    }
    .col-md-3-5 {
        width: 60%;
    }
    .col-md-4-5 {
        width: 80%;
    }
    .col-md-5-5 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
    }
    .col-lg-2-5 {
        width: 40%;
    }
    .col-lg-3-5 {
        width: 60%;
    }
    .col-lg-4-5 {
        width: 80%;
    }
    .col-lg-5-5 {
        width: 100%;
    }
}

// Mobile - Tablet
@media (min-width: 300px) and (max-width: 991px) {
    body {
        #header #search div[data-tippy-root] {
            width: 100vw;
        }
    }
}
