.wrapper {
    margin-top: var(--header-height);
}

.inner {
    padding: 0 10px;
}

.go-top-btn {
    z-index: 2;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.content {
    padding-top: 24px;
}
