.banner-trending {
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    overflow: hidden;
}

.banner-news {
    width: 100%;
    height: 350px;
    background-color: #333;
}
