.menu-list {
    transition: all linear 0.3s;
}

.menu-inner {
    display: flex;
    flex-direction: column;
    padding: 7px 0;

    .menu-item {
        width: 100%;
        text-align: left;
        justify-content: flex-start;
        padding: 7px 44px 7px 16px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        + .menu-item {
            margin-left: 0;
        }
    }
}

.separate {
    color: #ed4245;
    border-top: 1px solid #ddd;
}
