$banner-height: 300px;
$avatar-width-height: 175px;

.profile-wrapper {
    margin-top: var(--header-height);
}

.profile-banner {
    position: relative;
    width: 100%;
    height: $banner-height;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.profile-avatar {
    position: absolute;
    left: 40px;
    bottom: calc($avatar-width-height / -2);
    width: $avatar-width-height;
    height: $avatar-width-height;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid var(--app-background);
}

.profile-name {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 600;
    margin-top: calc($avatar-width-height / 2 + 20px);
    margin-left: 40px;
}

.profile-info {
    margin-left: 40px;
    margin-top: 40px;
}

.profile-intro {
    padding: 12px;
}

.profile-info-title {
    font-size: 1.8rem;
    display: inline-block;
    color: #000;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: var(--profile-title-info-background);
    margin-bottom: 10px;
}

.profile-info-text {
    display: flex;
    align-items: center;
    color: var(--text-color);
    margin-bottom: 0;
}

.profile-email,
.profile-position {
    color: var(--text-nav);
    // font-style: italic;
}
