$banner-height: 300px;
$avatar-width-height: 175px;

.profile-wrapper {
    position: relative;
    margin-top: var(--header-height);
    margin-bottom: 50px;
}

.profile-banner {
    position: relative;
    width: 100%;
    height: $banner-height;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.profile-avatar {
    position: absolute;
    left: 40px;
    bottom: calc($avatar-width-height / -2);
    width: $avatar-width-height;
    height: $avatar-width-height;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid var(--app-background);
}

.profile-name-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: calc($avatar-width-height / 2 + 20px);
}

.profile-name {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 40px;
}

.profile-info {
    margin-top: 40px;

    section {
        background-color: var(--profile-info-background);
        box-shadow: 0 0 6px rgb(0 0 0 / 14%);
        border-radius: 10px;
    }
}

.profile-intro {
    padding: 16px;
    & > div > a {
        color: var(--primary);
        &:hover {
            color: var(--primary);
        }
    }
}

.profile-info-title {
    font-size: 1.7rem;
    display: inline-block;
    color: #000;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: var(--profile-title-info-background);
}

.profile-info-text {
    display: flex;
    align-items: center;
    color: var(--text-color);
    margin-bottom: 0;
}

.profile-info-icon {
    margin-right: 4px;
}

.profile-email,
.profile-position {
    color: var(--text-nav);
}

.edit-profile-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-profile-upload {
    color: var(--primary);
    cursor: pointer;
}

.edit-profile-info {
    label {
        color: var(--text-nav);
        margin-right: 10px;
    }
    input {
        color: var(--input-color);
        background-color: var(--input-background);
        border: 2px solid transparent;
        border-radius: 4px;
        padding: 7px 10px;
        margin-right: 5px;
        flex: 1;

        &:focus {
            border-color: #ced4da;
        }
    }
}

@media (max-width: 575px) {
    .profile-banner {
        height: 200px;
    }

    .profile-avatar {
        left: 50%;
        transform: translateX(-50%);
    }

    .profile-name {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .profile-name-bar {
        flex-direction: column;
        align-items: center;
    }

    .profile-info {
        margin-top: 30px;
    }
}
