.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all ease 0.27s;
    visibility: hidden;
    opacity: 0;
}

.modal-overlay.show {
    visibility: visible;
    opacity: 1;
}

.modal-wrapper {
    width: 570px;
    background-color: var(--app-background);
    padding: 20px;
    border-radius: 10px;
    transition: all ease 0.27s;
    transform: scale(0.7);
    opacity: 0;
    visibility: hidden;
    margin: 0 16px;
}

.modal-wrapper.show {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.modal-header {
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-title {
    font-size: 2.2rem;
    letter-spacing: 0.3px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 0;
}

.modal-close-btn {
    color: var(--text-color);
    font-size: 2rem;
    padding: 5px 0;
}

.modal-body {
    margin-top: 15px;
}
