.preloader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--app-background);
}

.preloader-logo {
    display: block;
    width: 130px;
    height: auto;
    animation: bounce 0.27s ease infinite alternate;
}

.preloader-desc {
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.8px;
    color: var(--text-color);
    margin-top: 18px;
}

@keyframes bounce {
    0% {
    }
    100% {
        transform: translateY(-20px);
    }
}
