.save-popper {
    width: 300px;

    .save-popper-icon,
    h3 {
        color: var(--text-color);
    }
}

.save-popper-list {
    max-height: 200px;
    overflow-y: overlay;
}

.save-popper-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--text-color);

    &:hover {
        background-color: var(--app-background);
    }

    img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 4px;
    }

    p {
        margin-bottom: 0;
        margin-left: 10px;
    }
}

.save-actions {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--nav-background);
    border-radius: 30px;
    padding: 1px 14px;

    &.save-actions-light {
        background-color: transparent;
        border-radius: 30px;
        border: unset;

        .save-actions-btn {
            color: #fff;
        }

        .save-active {
            color: #fff;
        }
    }
}

.save-actions-btn {
    position: relative;
    color: var(--text-nav);
    font-size: 2.4rem;
    padding: 2px 7px;
    cursor: pointer;
}

.save-active {
    color: var(--primary);
}

.share-url-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-background);
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 14px;
}

.share-url-icon {
    font-size: 2rem;
    display: inline-block;
    color: var(--text-nav);
    margin-right: 10px;
}

.share-url-input {
    flex: 1;
    color: var(--text-color);
    background-color: var(--nav-background);
    overflow: hidden;
}

.share-url-footer {
    display: flex;
    justify-content: flex-end;
}
