.gallery-wrapper {
    margin-bottom: 35px;
}

.gallery-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.gallery-heading {
    display: inline-block;
    border-left: 4px solid var(--primary);
    padding-left: 10px;
    font-size: 2.4rem;
    letter-spacing: 0.3px;
    margin-bottom: 0;
    font-weight: 700;
    color: var(--text-color);
}

.gallery-list {
    padding-bottom: 20px;
}

.gallery-item-vertical {
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--border-color-gallery-item);
}

.gallery-item-horizontal {
    display: flex;
    justify-content: flex-start;
}

.gallery-thumb {
    position: relative;
    width: 100%;
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;

    .gallery-fallback-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--thumb-gallery-background);
    }

    &:hover img {
        filter: brightness(0.55);
        transition: all ease 0.2s;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;

        filter: brightness(0.8);
        object-fit: cover;
    }
}

.gallery-vote-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    top: 10px;
    right: 10px;
    background-color: #fafafa;
    padding: 2px 5px;
    border-radius: 10px;
}

.gallery-vote {
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 2px;
    color: var(--black);
}

.gallery-vote-icon {
    color: var(--primary);
}

.gallery-info {
    padding: 7px 10px;
}

.gallery-info-horizontal {
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gallery-name-vertical {
    width: 100%;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--text-color);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gallery-name-horizontal {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--text-color);

    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.gallery-year {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--text-nav);
}

.gallery-vote-count {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-nav);
}

.gallery-like-icon {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-nav);
    margin-right: 3px;
}

.gallery-vote-horizontal {
    display: flex;
    align-items: center;
    span {
        font-size: 1.3rem;
        margin-left: 2px;
        font-weight: 600;

        color: var(--text-nav);
    }
}
