.search {
    position: relative;
    align-items: center;
    display: flex;
    width: 420px;
    height: 45px;
    background-color: var(--input-background);
    border-radius: 7px;
    padding: 0 14px 0 22px;
    border: 2px solid transparent;

    &:focus-within {
        border-color: #ced4da;
    }
}

.search-icon {
    position: relative;
    top: -2px;
    color: var(--input-color);
    font-size: 1.8rem;
    margin-right: 10px;
}

.search-input {
    flex: 1;
    height: 100%;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    color: var(--input-color);
    background-color: var(--input-background);
}

.clear {
    display: inline;
    line-height: 0;
    padding: 5px;
    cursor: pointer;

    .clear-icon {
        font-size: 1.8rem;
        color: var(--input-color);
    }
}

.search-result {
    width: 420px;
}

.search-type {
    margin-bottom: 10px;
}

.search-inner {
    margin-top: 10px;
    padding: 14px 24px;
}

.search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search-heading {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--primary);
    margin: 0;
}

.search-detail {
    font-size: 1.4rem;
}

.no-result {
    position: absolute;
    top: calc(100% + 14px);
    left: 0;
    width: 100%;
    min-height: 200px;

    img {
        width: 142px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    h3 {
        width: 100%;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        letter-spacing: 0.3px;
        margin-top: 10px;
        margin-bottom: 12px;
    }
}
