.wrapper {
    position: relative;
    margin-top: var(--header-height);
}

.content {
    overflow: hidden;
}

.go-top-btn {
    z-index: 2;
    position: fixed;
    bottom: 15px;
    right: 15px;
}
