.header {
    height: 80px;
    background-color: var(--dark);

    & .container {
        height: 100%;
    }
}

.inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 60px;
}
