.header {
    height: 70px;
    border-bottom: 1px solid #ddd;
}

.inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 80px;
}

.search {
    position: relative;
    align-items: center;
    display: flex;
    width: 400px;
    height: 45px;
    background-color: #e9ecef;
    border-radius: 7px;
    padding: 0 14px 0 22px;
    border: 2px solid transparent;
    transition: all ease 0.3s;

    &:focus-within {
        border-color: #ced4da;
    }
}

.search-icon {
    position: relative;
    top: -2px;
    color: var(--input-color);
    font-size: 1.8rem;
    margin-right: 10px;
}

.search-input {
    flex: 1;
    height: 100%;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    background-color: #e9ecef;
}

.clear {
    display: inline;
    line-height: 0;
    padding: 5px;
    cursor: pointer;

    .clear-icon {
        font-size: 1.8rem;
        color: var(--input-color);
    }
}

// toggle theme btn
:root {
    --button-width: 51px;
    --button-height: 31px;
    --toggle-diameter: 27px;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 27px;
    --color-grey: #e9e9e9;
    --color-dark-grey: #39393d;
    --color-green: #f37515;
}

.theme-btn {
    line-height: 0;
    cursor: pointer;
    span {
        display: inline-block;
        width: var(--button-width);
        height: var(--button-height);
        background-color: var(--color-grey);
        border-radius: calc(var(--button-height) / 2);
        position: relative;
        transition: 0.3s all ease-in-out;
    }

    span::after {
        content: '';
        display: inline-block;
        width: var(--toggle-diameter);
        height: var(--toggle-diameter);
        background-color: #fff;
        border-radius: calc(var(--toggle-diameter) / 2);
        position: absolute;
        top: var(--button-toggle-offset);
        transform: translateX(var(--button-toggle-offset));
        box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4)
            rgba(0, 0, 0, 0.1);
        transition: 0.3s all ease-in-out;
    }

    input[type='checkbox']:checked + span {
        background-color: var(--color-green);
    }

    input[type='checkbox']:checked + span::after {
        transform: translateX(
            calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset))
        );
        box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4)
            rgba(0, 0, 0, 0.1);
    }

    input[type='checkbox'] {
        display: none;
    }

    input[type='checkbox']:active + span::after {
        width: var(--toggle-wider);
    }

    input[type='checkbox']:checked:active + span::after {
        transform: translateX(
            calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset))
        );
    }
}
