.header {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    border-bottom: 1px solid var(--header-border);
    background-color: var(--header-background);
}

.inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 80px;
}

.actions {
    display: flex;
    align-items: center;
    height: 100%;
}

.user-wrapper {
    display: flex;
    align-items: center;
    margin-left: 35px;
    cursor: pointer;
}

.user-avatar {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 6px;
    margin-right: 3px;
}

.user-icon {
    font-size: 1.6rem;
    color: var(--text-color);
}
