$track-border-radius: 6px;

.track {
    position: relative;
    overscroll-behavior: contain;
}

.track-item {
    &:last-child {
        border-color: transparent;
    }
    &.open {
        background-color: var(--nav-background);
    }

    &.active {
        background-color: var(--nav-background);
    }

    &:hover {
        background-color: var(--nav-background);
    }

    cursor: pointer;
    margin-bottom: 10px;
    border-radius: $track-border-radius;
}

.track-field {
    display: flex;
    align-items: center;
    color: var(--text-color);
    padding: 10px;
    border-radius: $track-border-radius;

    &.open {
        background-color: var(--nav-background);
    }

    // &.open ~ .track-episode {
    //     height: auto;
    // }
}

.track-img {
    position: relative;
    width: 55px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
}

.track-info {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.track-title {
    font-size: 1.5rem;
    width: 100%;
    display: -webkit-box;
    color: var(--text-color);
    margin-bottom: 0;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.track-episode-count {
    margin-top: 5px;
    font-size: 1.3rem;
    color: var(--text-nav);
}

.track-episode {
    padding: 10px;
    animation: fadeIn linear 0.3s;
}

.track-episode-item {
    display: flex;
    margin-bottom: 20px;
    border-radius: $track-border-radius;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &.active {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &.active .track-episode-title {
        color: var(--primary);
    }

    &.active .track-episode-number {
        background-color: #f3731296;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.track-episode-link {
    display: flex;
    width: 100%;
    border-radius: $track-border-radius;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.track-episode-img {
    position: relative;
    min-width: 100px;
    max-width: 100px;
    height: 70px;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}

.track-episode-number {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 1px 6px;
}

.track-episode-info {
    padding: 2px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.track-episode-title {
    max-width: 200px;
    color: var(--text-color);
    font-size: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

.track-episode-detail {
    font-size: 1.4rem;
    color: var(--text-nav);
}
