.form-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d2024;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: auto;
        padding: 30px;
        background-color: #fafafa;
        box-shadow: 0 0 6px rgb(0 0 0 / 8%);
        border-radius: 8px;
        transition: all ease 0.3s;
    }

    .logo {
        width: 85px;
        height: 85px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .title {
        font-size: 2.2rem;
        font-weight: 600;
        letter-spacing: 0.3px;
        margin-top: 14px;
    }

    .input-wrapper {
        width: 100%;
        margin-top: 20px;

        .input-item {
            position: relative;
            margin: 16px 0;
        }

        input {
            width: 100%;
            border: 1px solid #e5e5e5;
            padding: 0 16px;
            color: #8d8d8d;
            height: 45px;
            border-radius: 3px;

            &:focus {
                border-color: #ced4da;
            }

            // Select input with condition
            &:has(+ .error-message) {
                border: 1px solid #ff3333;
            }
        }

        .toggle-password-btn {
            position: absolute;
            width: 25px;
            height: 25px;
            right: 16px;
            line-height: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        .error-message {
            width: 100%;
            font-size: 1.3rem;
            text-align: left;
            color: #ff3333;
            letter-spacing: 0.3px;
            margin-top: 5px;
            margin-bottom: 12px;
            padding-left: 16px;
        }
    }

    .submit-btn {
        width: 100%;
        margin-bottom: 30px;
        button,
        a {
            width: 100%;
            border-radius: 3px;
        }
    }

    .divider {
        width: 100%;
        position: relative;
        height: 1px;
        background-color: #ddd;

        &:after {
            content: 'Or continue with';
            font-size: 1.4rem;
            display: inline-block;
            position: absolute;
            color: #6e6d7a;
            top: -11px;
            left: 50%;
            transform: translateX(-50%);
            padding: 0 16px;
            background: #fafafa;
        }
    }

    .submit-btn-another {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;

        button {
            max-width: 50%;
            min-width: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 12px;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
        }

        img {
            display: inline-block;
            width: 30px;
            margin-right: 7px;
        }
    }

    .navigate-link {
        font-size: 1.4rem;
        margin-bottom: 7px;
    }

    .navigate-link-item {
        font-size: 1.4rem;
        margin-left: 4px;
        color: var(--primary);
    }
}
