.card-item-wrapper {
    padding: 16px;
    height: 100%;
}

.card-item-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--border-radius-banner);
}

.card-item-heading {
    font-size: 1.6rem;
    color: var(--primary);
    margin: 8px 0;

    span {
        position: relative;
        top: -2px;
        line-height: 0;
        margin-right: 5px;
    }
}

.card-item-desc {
    max-width: 100%;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 600;
    color: #1e2125;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
}

.card-item-published {
    font-size: 1.5rem;
    color: var(--text-nav);
    margin-bottom: 0;
}
