.swiper-container {
    height: 100% !important;
}

// Custom Next, Prev btn
.swiper-button-prev,
.swiper-button-next {
    top: 45% !important;
    width: 32px !important;
    height: 32px !important;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}

.swiper-button-prev {
    background-image: url(../../assets/images/angle-left.png);
    background-size: contain;
    background-position: 50% 60%;
    background-repeat: no-repeat;
}
.swiper-button-next {
    background-image: url(../../assets/images/angle-right.png);
    background-size: contain;
    background-position: 50% 60%;
    background-repeat: no-repeat;
}

.swiper-button-prev::after {
    font-size: 1.6rem !important;
    content: '' !important;
}
.swiper-button-next::after {
    font-size: 1.6rem !important;
    content: '' !important;
}
