.watch {
    padding: 24px 18px 0 0;
}

.watch-frame {
    height: 550px;
}

.watch-embed {
    width: 100%;
    height: 100%;
}

.suggest-list {
    overflow: hidden;

    padding: 0 12px;
}

.suggest-item {
    padding: 10px 0;
}

.suggest-bar {
    scroll-behavior: smooth;
}

.watch-info {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watch-title {
    max-width: 50%;
    color: var(--text-color);
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 0;
}

.watch-title-episode {
    margin-top: 10px;
    margin-bottom: 14px;
    color: var(--text-nav);
    font-style: italic;
    font-size: 2rem;
}

.watch-actions {
    display: flex;
    align-items: center;
    background-color: var(--nav-background);
    border-radius: 30px;
    padding: 0 10px;
}

.watch-actions-btn {
    position: relative;
    color: var(--text-color);
    font-size: 2.7rem;
    padding: 0 8px;

    &:first-child::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 60%;
        background-color: var(--text-nav);
    }
}

.watch-detail-wrapper {
    margin-top: 10px;
}

.watch-detail {
    display: flex;
    align-items: center;
}

.watch-detail-item {
    color: var(--text-color);
    display: flex;
    align-items: center;
    margin: 0 16px 0 0;

    &:last-child {
        margin-right: 0;
    }
}

.watch-genres {
    margin: 14px 0 18px 0;
}

.share-url-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-background);
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 14px;
}

.share-url-icon {
    font-size: 2rem;
    display: inline-block;
    color: var(--text-nav);
    margin-right: 10px;
}

.share-url-input {
    flex: 1;
    color: var(--text-color);
    background-color: var(--nav-background);
    overflow: hidden;
}

.share-url-footer {
    display: flex;
    justify-content: flex-end;
}

// Mobile - Tablet
@media (min-width: 300px) and (max-width: 991px) {
    .watch {
        padding-left: 18px;
        padding-right: 18px;
    }

    .watch-title {
        font-size: 2rem;
    }

    .watch-title-episode {
        font-size: 1.7rem;
        margin-top: 20px;
    }

    .watch-detail-wrapper {
        margin-top: 20px;
    }

    .suggest-bar {
        margin-top: 20px;
    }

    .suggest-list {
        padding: 0 0;
    }
}

// Mobile
@media (max-width: 576px) {
    .watch-frame {
        height: 240px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
    .watch-frame {
        height: 420px;
    }
}
